*{
  color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8383f8;
    
}
  
header {
    background-color: #2222a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

footer {
    
  background-color: #2222a7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.shape {
  position: absolute;
  /*border-radius: 25%;*/
  opacity: 0.5;
  
}

.shape1 {
  border-right : 32px solid transparent;
  border-bottom : 57px solid rgb(60, 202, 245);
  border-left : 33px solid transparent;
  animation: shape1-move 20s linear infinite;
  
}

.shape2 {
  top: 50%;
  left: 50%;
 border-top : 32px solid transparent;
 border-bottom : 33px solid transparent;
 border-left : 57px solid #e5e8f1;
 animation: shape2-move 20s linear infinite;
}

.shape3 {
  top: 80%;
  left: 80%;
  border-top : 33px solid transparent;
  border-right : 57px solid #0049e6;
  border-bottom : 32px solid transparent;
  animation: shape3-move 20s linear infinite;
  box-shadow: #ffffff;
}

@keyframes shape1-move {
  0% { transform: translate(0, 0); }
  25% { transform: translate(500px, 500px); }
  50% { transform: translate(-500px, -500px); }
  75% { transform: translate(-500px, 500px); }
  100% { transform: translate(500px, -500px); }
}

@keyframes shape2-move {
  0% { transform: translate(0, 0); }
  25% { transform: translate(500px, -500px); }
  50% { transform: translate(-500px, 500px); }
  75% { transform: translate(500px, 500px); }
  100% { transform: translate(-500px, -500px); }
}

@keyframes shape3-move {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-500px, 500px); }
  50% { transform: translate(500px, -500px); }
  75% { transform: translate(-500px, -500px); }
  100% { transform: translate(500px, 500px); }
}

h1 {
    margin: 0;
    color: #fff;
}
  
nav {
    display: flex;
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
  }
  
  section {
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #ffffff;
  }

  .project:hover,.contacter:hover,section:hover{
    box-shadow: 0 0 5px 2px rgba(2, 0, 3, 0.3);
    /*box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.6), inset -2px -2px 2px #2a063d8a;*/
  }

  img.imgp {
    margin-top: 10px;
}

input:hover,button:hover,textarea:hover{
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 1);
}

.lien:hover{
  border-radius: 15px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 1);
}

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #333;
    background-image: linear-gradient(to top left, #3535fc, #8383f8 50%, #0000ff);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px #0000ff;
    /**
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    */
    border-radius: 30px;
  }

  .project{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    background-color: #7171f7;
    border: 2px solid #ffffff;
    color: #fff;
    align-content: center;
    justify-items: center;
    border-radius: 15px;
  }
  
  .project img {
    max-width: 70%;
    margin-right: 1em;
  }

  #contact{
    text-decoration: none;
    /**color: #7171f7;;*/
    color: white;
  }

  section a:link {
    color: white;
    /*color: #7171f7;*/
  }

  section a {
    outline: none;
    text-decoration: none;
  }
  

  .contacter{
    display: grid;
    grid: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 1em 0;
    padding: 1em;
    background-color: #7171f7;
    border-radius: 15px;
    border: 2px solid #ffffff;
  }

  .espace{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2{
    color: white;
    /*color: #7171f7;*/
  }

  #mecontacter{
    color: #fff;
  }

  textarea {
    max-width: 450px;
    max-height: 250px;
  }
  

  html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

/**
::-webkit-scrollbar {
  height: 100%;
  width: 11.5px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
  backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
  background-color: #090923;;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
  -webkit-box-shadow:inset 1px 0 1px 0 #2222a7;
}
*/

.container{ 
  width: 40rem;
  height: 26rem;
  background:transparent;
  display: flex;
  overflow-x: auto; /* Ajout de la scrollbar horizontale */
  scroll-snap-type: x mandatory;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


.container div{

min-width: 40rem;
display: flex;
justify-content: center;
align-items: center; font-size: 10rem;
color: white;
scroll-snap-align: center;
}

div img{
  width: 100%;
  display: cover;
}

.box{
  background-color: transparent;
}

